body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:224px;
  top:170px;
  width:348px;
  height:220px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:220px;
}
#u1 {
  position:absolute;
  left:2px;
  top:102px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:53px;
  top:21px;
  width:600px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:123px;
  top:514px;
  width:550px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:533px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:550px;
  height:1px;
}
#u19 {
  position:absolute;
  left:338px;
  top:524px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:150px;
  top:94px;
  width:495px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:59px;
  top:51px;
  width:92px;
  height:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:10px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
