body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:260px;
  top:160px;
  width:348px;
  height:220px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:220px;
}
#u1 {
  position:absolute;
  left:2px;
  top:102px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:175px;
  top:494px;
  width:550px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:533px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:550px;
  height:1px;
}
#u4 {
  position:absolute;
  left:390px;
  top:504px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:114px;
  top:84px;
  width:599px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:50px;
  top:20px;
  width:800px;
  height:30px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:806px;
  height:36px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:35px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:55px;
  top:51px;
  width:92px;
  height:10px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:10px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
