body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:10px;
  width:310px;
  height:480px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:55px;
  top:455px;
  width:300px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:70px;
  top:30px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:70px;
  top:59px;
  width:270px;
  height:48px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:117px;
  width:250px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u16 {
  position:absolute;
  left:70px;
  top:137px;
  width:273px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:70px;
  top:166px;
  width:270px;
  height:48px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:223px;
  width:250px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u21 {
  position:absolute;
  left:70px;
  top:243px;
  width:177px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:70px;
  top:272px;
  width:270px;
  height:48px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:48px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:58px;
  top:445px;
  width:92px;
  height:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:10px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:130px;
  top:449px;
  width:29px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
